*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
a{
  text-decoration: none;
}

.app{
  display: flex;
  width: 100%;
  height: 97vh;
  border: dashed 1px gray;
  overflow: hidden;
}

.app .navBar{
  flex: 0 0 150px;
  background-color: #3a3d3f;
  overflow-y: auto; 
}

.app .navBar::-webkit-scrollbar{
  width: 5px;
}
.app .navBar::-webkit-scrollbar-track{
  background-color: lightgrey;
}
.app .navBar::-webkit-scrollbar-thumb{
  background-color: gray;
}

.app .outlet{
  flex: 1;
  padding: 10px;
  overflow-y: auto; 
}

/* =================================================== */
.sideNavigation .navItem{
  display: block;
  color: white;
  font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
  border-bottom: solid 1px #414446;
}
.navGroup{
padding-left: 5px;
border-top: solid 1px #414446;
background-color: #17466c;
}
.sideNavigation .navItem.navLevel0{
  background-color: #3a3d3f;
}

.sideNavigation .navItem.navLevel1{
  background-color: #2e3132;
}

.sideNavigation .navItem.navLevel2{
  background-color: #1e2122;
}

.sideNavigation .navItem.navLevel3{
  background-color: #0e1112;
}

.sideNavigation .navItem .navHead{
  display: flex;
  height: 36px;
  align-items: center;
}

.sideNavigation .navItem .navHead:hover{
  box-shadow: 0 0 5px gray inset;
}

.sideNavigation .navItem .navArrow{
  padding: 0 0 0 6px;
  font-size: 10px;
  flex: 0 0 18px;
}

.sideNavigation .navItem .navHead .navTitle{
  height: 36px;
  padding: 2px;
  flex: 1;
  align-items: center;
  display: flex;
}

.sideNavigation .navItem .navHead .navIcons{
  background-image: url(https://i.stack.imgur.com/qAO2h.png);
  font-size: 36px;
  background-size: 4em 3em;
  background-blend-mode:color; 
  flex: 0 0 36px;
  height: 36px;
  filter: invert(1);
}

.sideNavigation .navHead .navIcons.icon1{
  background-position: 0em 0em;
}

.sideNavigation .navHead .navIcons.icon2{
  background-position: -1em 0em;
}

.sideNavigation .navHead .navIcons.icon3{
  background-position: -2em 0em;
}

.sideNavigation .navHead .navIcons.icon4{
  background-position: -3em 0em;
}

.sideNavigation .navHead .navIcons.icon5{
  background-position: 0em -1em;
}

.sideNavigation .navHead .navIcons.icon6{
  background-position: -1em -1em;
}

.sideNavigation .navHead .navIcons.icon7{
  background-position: -2em -1em;
}

.sideNavigation .navHead .navIcons.icon8{
  background-position: -3em -1em;
}

.sideNavigation .navHead .navIcons.icon9{
  background-position: 0em -2em;
}

.sideNavigation .navHead .navIcons.icon10{
  background-position: -1em -2em;
}

.sideNavigation .navHead .navIcons.icon11{
  background-position: -2em -2em;
}

.sideNavigation .navHead .navIcons.icon12{
  background-position: -3em -2em;
}

.selectedNav{
  background-color: #005ebc30 !important;
}

@media (max-width:400px){
  .app .navBar{
    flex: 0 0 66px;
  }
  .sideNavigation .navItem .navHead .navTitle{
     display: none; 
  }
}